body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  background-color: paleturquoise;
  width: 100%;
  align-items: center; 
}

.header-bar .header-left img {
  width: 100px;
  max-width: 100%;
  height: auto;
  background-color: palegoldenrod;
  
  border: 1px solid black;
}

.header-bar .header-middle img{
  width: 50px;
  max-width: 80%;
  height: auto;

  background-color: aquamarine;
  border: 1px solid black;
}

.header-bar .header-right img {
  max-width: 100px;
  
  background-color: palevioletred;
  border: 1px solid black;
}

.middle-bar .middle-units{
  display: flex;
  gap:20px;
  margin-top: 40px;

  border: 1px solid black;
}

.search-box {
  display: flex;
  margin-top: 40px;
  gap: 10px;
  
  border: 2px solid red;
}


.airbnb-main img {
  width: 300px;
  max-width: 80%;
}

.airbnb-main {
  min-height: 300px;
  background-color: yellowgreen;
}

.airbnb-main .hotel-lists{
  background-color: skyblue;
}

.airbnb-main .hotel-lists .hotel-info {
  background-color: orange;
}

.airbnb-main .hotel-lists .hotel-info .hotel-text{
  background-color: palevioletred;
}